.light-theme.popup,
.light-theme .popup {
    background-color: var(--bg-secondary);
}


body.light-theme {
    --text: #000;
    --bg-main: #e3e7ea;
    --bg-secondary: #fff;
}

body {
    --text: #fff;
    --bg-main: #3c4043;
    --bg-secondary: #292a2d;
    --active: #fbc117;
    --space: 5px;
    --danger: #f04141;
    --danger-light: #f9d0d5;
    --dark-grey: #767676;
    --light-grey: #c3c3c3;
}
input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

body {
    width: 400px;
    margin: auto;
    padding: 0;
    min-height: 572px;
    font-family: Sans-Serif;
    background-color: var(--bg-secondary);
    color: var(--text);
}

.popup {
    width: 200px;
    min-height: auto;
    overflow: hidden;
    background-color: var(--bg-main);
}

header {
    background-color: var(--bg-main);
    color: var(--text);
    display: flex;
    padding: var(--space);
}

header .privacy {
    letter-spacing: 0.13em;
}


header .version {
    font-size: 8.5px;
    font-weight: bold;
    position: absolute;
    top: var(--space);
    right: var(--space);
}



header .logo-container {
    width: 100%;
    margin: var(--space) 0 var(--space) 0;
    display: flex;
    align-items: center;
}

header .logo-container img {
    height: 30px;
    float: left;
}

header .logo-container h1 {
    font-size: 14px;
    float: left;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: normal;
}

div.some-block {
    padding: 0 15px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

div.some-block h4 {
    margin: 0;
    width: 100px;
}

div.some-block input[type="checkbox"] {
    width: 48px;
    height: 25px;
    background-color: var(--light-grey);
    border-radius: 50px;
    transition: .4s;
    cursor: pointer;
}

div.some-block input[type="checkbox"]:checked {
    background-color: var(--active);

}

div.some-block input[type="checkbox"]:focus {
    outline: none;
}

div.some-block input[type="checkbox"]::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    position: relative;
    top: 2.5px;
    left: 4px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

div.some-block input[type="checkbox"]:checked::before {
    left: 24px;
}


.button-new {
    border: var(--active) solid 1px;
    height: 20px;
    color: var(--text);
    stroke: var(--text);
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: var(--space) 15px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button-new * {
    vertical-align: middle;
}

.button-new:hover {
    background-color: var(--active);
    color: var(--text);
    stroke: var(--text);
}

.button-new:active {
    background-color: var(--active);
    box-shadow: 0 var(--space) var(--bg-main);
    transform: translateY(4px);
}


.button-new svg {
    height: 18px;
    width: 18px;
}