body {
	width: 270px;
	min-height: auto;
}

html,
body {
	margin: 0;
}

.hide {
	display: none !important;
}

.button {
	display: flex;
	margin: 0 auto;
	justify-content: space-between;
}

.button svg {
	width: 26px;
	height: 26px;
}

.bottom-button {
	width: 100%;
}

.space {
	height: 10px;
}

input {
	height: 23px;
	width: 46px;
}

div.block label {
	margin: 0;
	font-size: 18px;
	font-weight: bold;
	max-width: 180px;
}

div.block label:hover {
	cursor: pointer;
}

div.block div {
	display: flex;
}

html.mobile body {
	width: 100%;
}

html.mobile div.block label {
	font-size: 24px;
}

html.mobile .button svg {
	width: 30px;
	height: 30px;
}