body {
    width: 240px;
    min-height: auto;
}

html, body {
    margin: 0;
}

.hide {
    display: none !important;
}

.button {
    margin: auto;
    width: 50%;
    border: 3px rgb(180, 201, 180);
    padding: 10px;
  }