doctype html

img(src='./assets/images/libredirect.png')
| Libredirect Icon
img

p
  | Homepage -  
  a(href='https://libredirect.github.io/') https://libredirect.github.io
p
  | FAQ - 
  a(href='https://libredirect.github.io/faq.html') https://libredirect.github.io/faq.html
p
  | Docs - 
  a(href='https://libredirect.github.io/docs.html') https://libredirect.github.io/docs.html
p
  | Github - 
  a(href='https://github.com/libredirect/libredirect') https://github.com/libredirect/libredirect
