<section class="option-block" id="about_page">

  <div class="some-block option-block">
    <h1 data-localise="__MSG_about__">About</h1>
  </div>

  <hr>

  <div class="about">

    <div class="some-block option-block">
      <h4>Donate: ♥️</h4>
      <h4><a href='https://libredirect.codeberg.page/donate'>https://libredirect.codeberg.page/donate</a> </h4>
    </div>

    <div class="some-block option-block">
      <h4>FAQ:</h4>
      <h4><a href='https://libredirect.codeberg.page/faq'>https://libredirect.codeberg.page/faq</a></h4>
    </div>

    <div class="some-block option-block">
      <h4>Docs:</h4>
      <h4><a href='https://libredirect.codeberg.page/docs'>https://libredirect.codeberg.page/docs</a></h4>
    </div>

    <div class="some-block option-block">
      <h4>Source Code:</h4>
      <h4><a href='https://libredirect.codeberg.page/source_code'>https://libredirect.codeberg.page/source_code</a></h4>
    </div>

    <div class="some-block option-block">
      <h4>Forked from:</h4>
      <h4><a href="https://github.com/SimonBrazell/privacy-redirect">Privacy Redirect</a></h4>
    </div>

  </div>
</section>