section#about_page.option-block 
  .some-block.option-block
    h1(data-localise="__MSG_about__") About
  hr
  .about
    .some-block.option-block
      h4 Donate: ♥️
      h4 <a href='https://libredirect.github.io/donate'>https://libredirect.github.io/donate</a> 
    .some-block.option-block
      h4 FAQ:
      h4 <a href='https://libredirect.github.io/faq'>https://libredirect.github.io/faq</a>
    .some-block.option-block
      h4 Docs:
      h4 <a href='https://libredirect.github.io/docs'>https://libredirect.github.io/docs</a>
    .some-block.option-block
      h4 Source Code:
      h4 <a href='https://libredirect.github.io/source_code'>https://libredirect.github.io/source_code</a>