section(class="option-block" id="about_page")
    div(class="some-block option-block")
        h1(data-localise="__MSG_about__") About
    hr
    div(class="about")
        div(class="some-block option-block")
            h4 Donate: ♥️
            h4 
                a(href="https://libredirect.github.io/donate" target="_blank") https://libredirect.github.io/donate

        div(class="some-block option-block")
            h4 FAQ:
            h4 
                a(href="https://libredirect.github.io/faq" target="_blank") https://libredirect.github.io/faq

        div(class="some-block option-block")
            h4 Docs:
            h4 
                a(href="https://libredirect.github.io/docs" target="_blank") https://libredirect.github.io/docs

        div(class="some-block option-block")
            h4 Source Code:
            h4 
                a(href="https://libredirect.github.io/source_code" target="_blank") https://libredirect.github.io/source_code