section(class="block-option" id="general_page")
    div(class="block block-option")
        h1(data-localise="__MSG_general__") General
    hr

    div(class="block block-option")
        label(data-localise="__MSG_theme__") Theme
        select(id="theme" aria-label="select theme")
            option(value="detect" data-localise="__MSG_auto__") Auto
            option(value="light" data-localise="__MSG_light__") Light
            option(value="dark" data-localise="__MSG_dark__") Dark

    div(class="block block-option")
        label(data-localise="__MSG_fetchPublicInstances__") Fetch public instances
        select(id="fetch-instances" aria-label="Select fetch public instances")
            option(value="github") GitHub
            option(value="codeberg") Codeberg
            option(value="disable" data-localise="__MSG_disable__") Disable

    div(class="block block-option")
        label(for='redirectOnlyInIncognito' data-localise="__MSG_redirectOnlyInIncognito__") Redirect Only in Incognito
        input(id='redirectOnlyInIncognito' type="checkbox")

    div(class="block block-option")
        label(for='bookmarksMenu' data-localise="__MSG_bookmarksMenu__") Bookmarks menu
        input(id='bookmarksMenu' type="checkbox")

    div(class="block block-option")
        label(data-localise="__MSG_excludeFromRedirecting__") Excluded from redirecting

    form(id="custom-exceptions-instance-form")
        div(class="block block-option")
            div(class="block" style="padding: 0")
                input(id="exceptions-custom-instance" placeholder="https://www.google.com" type="url" aria-label="Add url exception input")
                |&nbsp;
                select(id="exceptions-custom-instance-type")
                    option(value="url") URL
                    option(value="regex") Regex
                |&nbsp;
            button(class="add" id="exceptions-add-instance" type="submit" aria-label="Add the url exception")
                svg(xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="currentColor")
                    path(d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z")

    hr

    div(class="checklist" id="exceptions-custom-checklist")

    div(class="buttons")
        label(class="button button-inline" id="import_settings_text" for="import-settings")
            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor")
                path(d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z")
            |&nbsp;
            x(data-localise="__MSG_importSettings__") Import Settings
        input(id="import-settings" type="file" style="display: none")

        |&nbsp;&nbsp;

        a(class="button button-inline" id="export-settings")
            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor")
                path(d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z")
            |&nbsp;
            x(data-localise="__MSG_exportSettings__") Export Settings

        |&nbsp;&nbsp;

        button(class="button button-inline" id="export-settings-sync")
            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor")
                path(d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2v7zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3h-7z")
            |&nbsp;
            x() Export Settings to Sync

        |&nbsp;&nbsp;

        button(class="button button-inline" id="import-settings-sync")
            svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor")
                path(d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z")
            |&nbsp;
            x(id="import_settings_sync_text") Import Settings from Sync

        |&nbsp;&nbsp;

        button(class="button button-inline" id="reset-settings")
            svg(xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="currentColor")
                path(d="M12,5V2L8,6l4,4V7c3.31,0,6,2.69,6,6c0,2.97-2.17,5.43-5,5.91v2.02c3.95-0.49,7-3.85,7-7.93C20,8.58,16.42,5,12,5z")
                path(d="M6,13c0-1.65,0.67-3.15,1.76-4.24L6.34,7.34C4.9,8.79,4,10.79,4,13c0,4.08,3.05,7.44,7,7.93v-2.02 C8.17,18.43,6,15.97,6,13z")
            x(data-localise="__MSG_resetSettings__") Reset Settings

    script(type="module" src="./widgets/general.js")
