section#imdb_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_imdb__") IMDb
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#imdb-enable(type="checkbox")

    #libremdb
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://libremdb.com')
            include ../../widgets/latency.pug
            +latency('libremdb')
        .tor
            include ../../widgets/instances.pug
            +instances('http://libremdb.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://libremdb.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://libremdb.loki')

    script(type="module" src="./widgets/imdb.js")
