section#imgur_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_imgur__") Imgur
    hr

    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#imgur-enable(type="checkbox")

    #rimgo
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://rimgo.com')
            include ../../widgets/latency.pug
            +latency('rimgo')
        .tor
            include ../../widgets/instances.pug
            +instances('http://rimgo.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://rimgo.onion')
        .loki
            include ../../widgets/instances.pug
            +instances('http://rimgo.loki')

    script(type="module" src="./widgets/imgur.js")
