section#instagram_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_instagram__") Instagram
    hr

    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#disable-bibliogram(type="checkbox")

    .some-block.option-block
        h4(data-localise="__MSG_protocol__") Protocol
        select#protocol
            option(value="normal" data-localise="__MSG_normal__") Normal
            option(value="tor" data-localise="__MSG_tor__") Tor

    #bibliogram
        hr
        .normal
            include ../../widgets/instances.pug
            +instances('https://bibliogram.com')
            include ../../widgets/latency.pug
            +latency()
        .tor
            include ../../widgets/instances.pug
            +instances('https://bibliogram.onion')

    script(type="module" src="./widgets/instagram.js")