section#lbry_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_lbry__") LBRY/Odysee
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#lbry-enable(type="checkbox")

    .some-block.option-block
        h4(data-localise="__MSG_protocol__") Protocol
        select#lbry-protocol
            option(value="normal" data-localise="__MSG_normal__") Normal
            option(value="tor" data-localise="__MSG_tor__") Tor

    #librarian
        hr
        .normal
            include ../../widgets/instances.pug
            +instances('https://librarian.com')
            include ../../widgets/latency.pug
            +latency('librarian')
        .tor
            include ../../widgets/instances.pug
            +instances('https://librarian.onion')

    script(type="module" src="./widgets/lbry.js")