section#lbry_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_lbry__") LBRY
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#lbry-enable(type="checkbox")

    .some-block.option-block
        h4(data-localise="__MSG_frontend__") Frontend
        select#lbry-frontend
            option(value="librarian") Librarian
            option(value="lbryDesktop" data-localise="__MSG_lbryDesktop__") LBRY Desktop

    .some-block.option-block
        h4(data-localise="__MSG_redirectType__") Redirect Type
        select#lbry-redirect_type
            option(value="both" data-localise="__MSG_both__") both
            option(value="sub_frame" data-localise="__MSG_onlyEmbedded__") Only Embedded
            option(value="main_frame" data-localise="__MSG_onlyNotEmbedded__") Only Not Embedded

    #librarian
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://librarian.com')
            include ../../widgets/latency.pug
            +latency('librarian')
        .tor
            include ../../widgets/instances.pug
            +instances('https://librarian.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://librarian.onion')
        .loki
            include ../../widgets/instances.pug
            +instances('http://librarian.loki')

    script(type="module" src="./widgets/lbry.js")
