section#medium_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_medium__") Medium
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#medium-enable(type="checkbox")

    #scribe
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://scribe.com')
            include ../../widgets/latency.pug
            +latency('scribe')
        .tor
            include ../../widgets/instances.pug
            +instances('http://scribe.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://scribe.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://scribe.loki')

    script(type="module" src="./widgets/medium.js")
