section#quora_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_quora__") Quora
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#quora-enable(type="checkbox")

    #quetre
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://quetre.com')
            include ../../widgets/latency.pug
            +latency('quetre')
        .tor
            include ../../widgets/instances.pug
            +instances('http://quetre.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://quetre.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://quetre.loki')

    script(type="module" src="./widgets/quora.js")
