section#reddit_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_reddit__") Reddit
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#reddit-enable(type="checkbox")

    .some-block.option-block
        h4#frontend(data-localise="__MSG_frontend__") Frontend
        select#reddit-frontend
            option(value="libreddit") Libreddit
            option(value="teddit") Teddit

    #libreddit
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://libreddit.com')
            include ../../widgets/latency.pug
            +latency('libreddit')
        .tor
            include ../../widgets/instances.pug
            +instances('http://libreddit.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://libreddit.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://libreddit.loki')

    #teddit
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://teddit.com')
            +latency('teddit')
        .tor
            include ../../widgets/instances.pug
            +instances('http://teddit.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://teddit.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://teddit.loki')

    script(type="module" src="./widgets/reddit.js")
