section#reuters_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_reuters__") Reuters
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#reuters-enable(type="checkbox")

    #neuters
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://neuters.com')
            include ../../widgets/latency.pug
            +latency('neuters')
        .tor
            include ../../widgets/instances.pug
            +instances('http://neuters.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://neuters.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://neuters.loki')

    script(type="module" src="./widgets/reuters.js")
