section#search_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_search__") Search
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#search-enable(type="checkbox")

    .some-block.option-block
        h4(data-localise="__MSG_frontend__") Frontend
        select#search-frontend
            option(value="searxng") SearXNG
            option(value="searx") SearX
            option(value="whoogle") Whoogle
            option(value="librex") LibreX

    .some-block
        h4(data-localise="__MSG_searchNote__") Note: To use Search, make LibRedirect the Default Search Engine

    #searx
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://searx.com')
            include ../../widgets/latency.pug
            +latency('searx')
        .tor
            include ../../widgets/instances.pug
            +instances('http://searx.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://searx.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://searx.loki')

    #searxng
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://searxng.com')
            +latency('searxng')
        .tor
            include ../../widgets/instances.pug
            +instances('http://searxng.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://searxng.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://searxng.loki')

    #whoogle
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://whoogle.com')
            +latency('whoogle')
        .tor
            include ../../widgets/instances.pug
            +instances('http://whoogle.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://whoogle.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://whoogle.loki')

    #librex
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://librex.com')
            +latency('librex')
        .tor
            include ../../widgets/instances.pug
            +instances('http://librex.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://librex.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://librex.loki')

    script(type="module" src="./widgets/search.js")
