section#sendTargets_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_sendFiles__") Send Files
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#sendTargets-enable(type="checkbox")

    #send
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://send.com')
            include ../../widgets/latency.pug
            +latency('send')
        .tor
            include ../../widgets/instances.pug
            +instances('http://send.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://send.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://send.loki')

    script(type="module" src="./widgets/sendTargets.js")
