section#tiktok_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_tiktok__") TikTok
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#tiktok-enable(type="checkbox")

    #proxiTok
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://proxitok.com')
            include ../../widgets/latency.pug
            +latency('proxiTok')
        .tor
            include ../../widgets/instances.pug
            +instances('http://proxitok.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://proxitok.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://proxitok.loki')

    script(type="module" src="./widgets/tiktok.js")
