section#translate_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_translate__") Translate
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#translate-enable(type="checkbox")

    .some-block.option-block
        h4(data-localise="__MSG_frontend__") Frontend
        select#translate-frontend
            option(value="simplyTranslate") SimplyTranslate
            option(value="lingva") Lingva

    hr
    #simplyTranslate
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://simplytranslate.org')
            include ../../widgets/latency.pug
            +latency('simplyTranslate')
        .tor
            include ../../widgets/instances.pug
            +instances('http://hxecvvetgrznmprg.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://simplytranslate.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://simplytranslate.loki')
            
    #lingva
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://lingvatranslate.com')
            +latency('lingva')
        .tor
            include ../../widgets/instances.pug
            +instances('http://lingvatranslate.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://lingvatranslate.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://lingvatranslate.loki')
       

    script(type="module" src="./widgets/translate.js")
