section#translate_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_translate__") Translate
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#translate-enable(type="checkbox")

    .some-block.option-block
        h4(data-localise="__MSG_frontend__") Frontend
        select#translate-frontend
            option(value="simplyTranslate") SimplyTranslate
            option(value="lingva") Lingva

    .some-block.option-block
        h4(data-localise="__MSG_protocol__") Protocol
        select#translate-protocol
            option(value="normal" data-localise="__MSG_normal__") Normal
            option(value="tor" data-localise="__MSG_tor__") Tor
            option(value="i2p" data-localise="__MSG_i2p__") I2P
            option(value="loki" data-localise="__MSG_loki__") Lokinet

    hr
    #simplyTranslate
        .normal
            include ../../widgets/instances.pug
            +instances('https://simplytranslate.org')
            include ../../widgets/latency.pug
            +latency('simplyTranslate')
        .tor
            include ../../widgets/instances.pug
            +instances('http://hxecvvetgrznmprg.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://simplytranslate.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://simplytranslate.loki')
            
    #lingva
        .normal
            include ../../widgets/instances.pug
            +instances('https://lingvatranslate.com')
            +latency('lingva')
        .tor
            include ../../widgets/instances.pug
            +instances('http://tyzxppdeoojdnaux.onion')

    script(type="module" src="./widgets/translate.js")
