section#twitter_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_twitter__") Twitter
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#twitter-enable(type="checkbox")

    .some-block.option-block
        h4(data-localise="__MSG_redirectType__") Redirect Type
        select#twitter-redirect_type
            option(value="both" data-localise="__MSG_both__") both
            option(value="sub_frame" data-localise="__MSG_onlyEmbedded__") Only Embedded
            option(value="main_frame" data-localise="__MSG_onlyNotEmbedded__") Only Not Embedded

    #nitter
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://nitter.com')
            include ../../widgets/latency.pug
            +latency('nitter')
        .tor
            include ../../widgets/instances.pug
            +instances('http://nitter.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('http://nitter.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://nitter.loki')

    script(type="module" src="./widgets/twitter.js")
