section#twitter_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_twitter__") Twitter
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#twitter-enable(type="checkbox")

    .some-block.option-block
        h4(data-localise="__MSG_protocol__") Protocol
        select#twitter-protocol
            option(value="normal" data-localise="__MSG_normal__") Normal
            option(value="tor" data-localise="__MSG_tor__") Tor

    #nitter
        hr
        .normal
            include ../../widgets/instances.pug
            +instances('https://nitter.com')
            include ../../widgets/latency.pug
            +latency('nitter')
        .tor
            +instances('https://nitter.onion')

    script(type="module" src="./widgets/twitter.js")
