section#wikipedia_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_wikipedia__") Wikipedia
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#wikipedia-enable(type="checkbox")

    #wikiless
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://wikiless.com')
            include ../../widgets/latency.pug
            +latency('wikiless')
        .tor
            include ../../widgets/instances.pug
            +instances('http://wikiless.onion')
        .i2p
            include ../../widgets/instances.pug
            +instances('https://wikiless.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://wikiless.loki')

    script(type="module" src="./widgets/wikipedia.js")
