section#youtubeMusic_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_ytmusic__") YouTube Music
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#youtubeMusic-enable(type="checkbox")

    .some-block.option-block
        h4(data-localise="__MSG_frontend__") Frontend
        select#youtubeMusic-frontend
            option(value="beatbump") Beatbump
            option(value="hyperpipe") Hyperpipe

    #beatbump
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://beatbump.org')
            include ../../widgets/latency.pug
            +latency('beatbump')
        .tor
            +instances('http://beatbump.onion')
            include ../../widgets/instances.pug
        .i2p
            include ../../widgets/instances.pug
            +instances('http://beatbump.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://beatbump.loki')

    #hyperpipe
        hr
        .clearnet
            include ../../widgets/instances.pug
            +instances('https://hyperpipe.org')
            include ../../widgets/latency.pug
            +latency('hyperpipe')
        .tor
            +instances('http://hyperpipe.onion')
            include ../../widgets/instances.pug
        .i2p
            include ../../widgets/instances.pug
            +instances('http://hyperpipe.i2p')
        .loki
            include ../../widgets/instances.pug
            +instances('http://hyperpipe.loki')

    script(type="module" src="./widgets/youtubeMusic.js")
