section#youtube_page.option-block
    .some-block.option-block
        h1(data-localise="__MSG_youtube__") YouTube
    hr
    .some-block.option-block
        h4(data-localise="__MSG_enable__") Enable
        input#disable-invidious(type="checkbox")

    .some-block.option-block
        h4(data-localise="__MSG_frontend__") Frontend
        select#youtube-frontend
            option(value="invidious") Invidious
            option(value="piped") Piped
            option(value="pipedMaterial") Piped-Material
            option(value="freetube") FreeTube
            option(value="yatte") Yattee

    #freetube-yatte
        .some-block.option-block
            h4(data-localise="__MSG_embeddedVids__") Embedded Videos Frontend
            select#youtube-embed-frontend
                option(value="invidious") Invidious
                option(value="piped") Piped
                option(value="pipedMaterial") Piped-Material
                option(value="youtube") Youtube

    #invidious-piped-pipedMaterial
        .some-block.option-block
            h4(data-localise="__MSG_protocol__") Protocol
            select#protocol
                option(value="normal" data-localise="__MSG_normal__") Normal
                option(value="tor" data-localise="__MSG_tor__") Tor

        .some-block.option-block
            h4(data-localise="__MSG_redirectType__") Redirect Type
            select#only-embed
                option(value="both" data-localise="__MSG_both__") both
                option(value="onlyEmbedded" data-localise="__MSG_onlyEmbedded__") Only Embedded
                option(value="onlyNotEmbedded" data-localise="__MSG_onlyNotEmbedded__") Only Not Embedded

    #invidious
        hr
        .normal
            include ../../widgets/instances.pug
            +instances('https://invidious.com')
            include ../../widgets/latency.pug
            +latency('invidious')
        .tor
            include ../../widgets/instances.pug
            +instances('https://invidious.onion')

    #piped
        hr
        .normal
            include ../../widgets/instances.pug
            +instances('https://piped.com')
            +latency('piped')
        .tor
            include ../../widgets/instances.pug
            +instances('https://piped.onion')

    #pipedMaterial
        hr
        .normal
            include ../../widgets/instances.pug
            +instances('https://piped-material.com')
            +latency('pipedMaterial')
        .tor
            include ../../widgets/instances.pug
            +instances('https://piped-material.onion')


    script(type="module" src="./widgets/youtube.js")
