option(value="af") Afrikaans
option(value="sq") Albanian
option(value="am") Amharic
option(value="ar") Arabic
option(value="hy") Armenian
option(value="az") Azerbaijani
option(value="eu") Basque
option(value="be") Belarusian
option(value="bn") Bengali
option(value="bs") Bosnian
option(value="bg") Bulgarian
option(value="ca") Catalan
option(value="ceb") Cebuano
option(value="ny") Chichewa
option(value="zh-CN") Chinese
option(value="co") Corsican
option(value="hr") Croatian
option(value="cs") Czech
option(value="da") Danish
option(value="nl") Dutch
option(value="en") English
option(value="eo") Esperanto
option(value="et") Estonian
option(value="tl") Filipino
option(value="fi") Finnish
option(value="fr") French
option(value="fy") Frisian
option(value="gl") Galician
option(value="ka") Georgian
option(value="de") German
option(value="el") Greek
option(value="gu") Gujarati
option(value="ht") Haitian Creole
option(value="ha") Hausa
option(value="haw") Hawaiian
option(value="iw") Hebrew
option(value="hi") Hindi
option(value="hmn") Hmong
option(value="hu") Hungarian
option(value="is") Icelandic
option(value="ig") Igbo
option(value="id") Indonesian
option(value="ga") Irish
option(value="it") Italian
option(value="ja") Japanese
option(value="jw") Javanese
option(value="kn") Kannada
option(value="kk") Kazakh
option(value="km") Khmer
option(value="rw") Kinyarwanda
option(value="ko") Korean
option(value="ku") Kurdish (Kurmanji)
option(value="ky") Kyrgyz
option(value="lo") Lao
option(value="la") Latin
option(value="lv") Latvian
option(value="lt") Lithuanian
option(value="lb") Luxembourgish
option(value="mk") Macedonian
option(value="mg") Malagasy
option(value="ms") Malay
option(value="ml") Malayalam
option(value="mt") Maltese
option(value="mi") Maori
option(value="mr") Marathi
option(value="mn") Mongolian
option(value="my") Myanmar (Burmese)
option(value="ne") Nepali
option(value="no") Norwegian
option(value="or") Odia (Oriya)
option(value="ps") Pashto
option(value="fa") Persian
option(value="pl") Polish
option(value="pt") Portuguese
option(value="pa") Punjabi
option(value="ro") Romanian
option(value="ru") Russian
option(value="sm") Samoan
option(value="gd") Scots Gaelic
option(value="sr") Serbian
option(value="st") Sesotho
option(value="sn") Shona
option(value="sd") Sindhi
option(value="si") Sinhala
option(value="sk") Slovak
option(value="sl") Slovenian
option(value="so") Somali
option(value="es") Spanish
option(value="su") Sundanese
option(value="sw") Swahili
option(value="sv") Swedish
option(value="tg") Tajik
option(value="ta") Tamil
option(value="tt") Tatar
option(value="te") Telugu
option(value="th") Thai
option(value="tr") Turkish
option(value="tk") Turkmen
option(value="uk") Ukrainian
option(value="ur") Urdu
option(value="ug") Uyghur
option(value="uz") Uzbek
option(value="vi") Vietnamese
option(value="cy") Welsh
option(value="xh") Xhosa
option(value="yi") Yiddish
option(value="yo") Yoruba
option(value="zu") Zulu