mixin instances(myPlaceholder)
    .some-block.option-block
        h4(data-localise="__MSG_defaultInstances__") Default Instances

    .checklist
    hr
    .some-block.option-block
        h4(data-localise="__MSG_customInstances__") Custom Instances
    form.custom-instance-form
        .some-block.option-block
            input.custom-instance(placeholder=myPlaceholder type="url")
            button.add.add-instance(type="submit")
                svg(xmlns="https://www.w3.org/2000/svg" height="20px" viewBox="0 0 24 24" width="20px" fill="currentColor")
                    path(d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z")
    .checklist.custom-checklist