body {
  --text: #fff;
  --bg-main: #121212;
  --bg-secondary: #202020;
  --active: #fbc117;
  --space: 5px;
  --danger: #f04141;
  --danger-light: #f9d0d5;
  --dark-grey: #767676;
  --light-grey: #c3c3c3;
}

@font-face {
  font-family: 'OpenSans';
  src: url('Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: auto;
  padding: 0;
  font-family: 'OpenSans';
  background-color: var(--bg-main);
  color: var(--text);
  overflow-x: hidden
}

div.some-block input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

div.title {
  display: flex;
  align-items: center;
}

img, svg {
  margin-right: 10px;
  height: 26px;
  color: var(--text);
}

input[type="url"],
input[type="text"],
select {
  padding: 5px 10px;
  width: 350px;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: var(--bg-main);
  border-style: solid;
  border-color: #767676;
  color: var(--text);
}

select {
  font-size: 16px;
  padding: 8px;
  background-color: var(--bg-secondary);
  border: none;
  margin: 0;
  width: auto;
  border-radius: 3px;
}

input:invalid {
  color: var(--danger);
  border-color: var(--danger);
}

.button svg {
  height: 18px;
  width: 18px;
}

section.option-block {
  width: 50%;
  margin: 0 50px;
}

body.option {
  display: flex;
  align-items: flex-start;
  padding: 40px;
}

section.links div {
  margin: 20px 0;
}

section.links a {
  display: flex;
  align-items: center;
  font-size: 24px;
  text-decoration: none;
  color: white;
  transition: 0.1s;
}

section.links a:hover,
section.links a.selected {
  color: var(--active);
}

input[type="range"] {
  width: 350px;
}

::placeholder {
  color: var(--text);
  opacity: 0.7;
}

#volume-value {
  color: var(--active);
}

/* \25BE */

hr {
  height: 2px;
  margin: 0 15px;
  background-color: rgb(77, 77, 77);
  border: none;
}


div.some-block {
  padding: 0 15px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

}

div.option-block {
  margin: 30px 0;
}

h4 {
  margin: 10px 0;
  font-size: 18px;
}

div.some-block h4 {
  margin: 0;
}

div.option-block h4 {
  margin-right: 5px;
  width: 80%;
  font-size: 18px;
}

div.option-block h1 {
  margin: 0;
  font-size: 28px;
  color: var(--active);
}

div.some-block input[type="checkbox"] {
  width: 48px;
  height: 25px;
  background-color: var(--light-grey);
  border-radius: 50px;
  transition: .4s;
  cursor: pointer;
}

div.some-block input[type="checkbox"]:checked {
  background-color: var(--active);
}

div.some-block input[type="checkbox"]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  position: relative;
  top: 2.5px;
  left: 4px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: .3s;
}

div.some-block input[type="checkbox"]:checked::before {
  left: 24px;
}

div.buttons {
  display: flex;
  margin: 0 15px;
  margin-bottom: 15px;
  margin-top: 15px;
  flex-wrap: wrap;
  align-items: center;
}

div.buttons-popup {
  border: 2px solid var(--bg-secondary);
  border-radius: 5px;
  display: flex;
  margin: 0 15px;
  margin-bottom: 15px;
  margin-top: 5px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  color: var(--text);
  font-size: 16px;
  font-weight: bold;
  margin: 5px 0px;
  padding: 5px 5px;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.1s;
}

.button:hover {
  color: var(--active);
}

.button svg {
  width: 26px;
  height: 26px;
  padding: 0;
  margin-right: 0;
}

.button:hover svg {
  color: var(--active);
}

div.buttons-inline {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.button-inline {
  display: inline-flex;
  align-items: center;
  margin: 7.5px 0;
  background-color: var(--bg-secondary);
  border-radius: 5px;
  padding: 10px;
}

.button:active{
  transform: translateY(1px);
}

button.default {
  margin-left: 30px;
  background-color: transparent;
  border: none;
  color: white;
  padding: 5px;
  width: 34px;
  height: 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button svg {
  color: var(--text);
}

div.checklist div {
  justify-content: space-between;
  margin: 5px 15px;
  padding: 10px 0;
  display: flex;
}

button.add {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.light-theme.popup,
.light-theme .popup {
  background-color: var(--bg-secondary);
}

body.light-theme {
  --text: black;
  --bg-main: white;
  --bg-secondary: #fff;
  --active: #fb9817;
}

body.light-theme select {
  border: 1px solid black;
}

body.light-theme textarea {
  color: black;
  border: 1px solid #767676;
}

body.light-theme textarea:focus {
  outline: none;
}

body.light-theme a {
  color: black;
}