doctype html
html(lang="en")
    include ../../widgets/head.pug
        title General
script(type="module" src="../../../assets/javascripts/localise.js")
body.option(dir="auto")
    include ../../widgets/links.pug
    +links('pixiv')

    section.option-block
        .some-block.option-block
            h4(data-localise="__MSG_enable__") Enable
            input#disable-pixiv(type="checkbox")

        .some-block.option-block
            h4
                x(data-localise="__MSG_frontend__") Frontend
                |:
                span(style="color:red;" data-localise="__MSG_notFullyPrivate__") This isn't a fully private frontend
            select#maps-frontend
                option(value="pixivMoe" data-localise="__MSG_pixivMoe__") pixiv萌え

        .some-block.option-block
            h4(data-localise="__MSG_protocol__") Protocol
            select#protocol
                option(value="normal" data-localise="__MSG_normal__") Normal
                option(value="tor" data-localise="__MSG_tor__") Tor        

        #pixivMoe
            hr
            .normal
                include ../../widgets/instances.pug
                +instances('https://pixivMoe.com')
                include ../../widgets/latency.pug
                +latency()
            .tor
                include ../../widgets/instances.pug
                +instances('https://pixivMoe.onion')

    script(type="module" src="../init.js")
    script(type="module" src="./pixiv.js")