doctype html
html(id="elementToShowWithJavaScript" lang="en")
    include /src/pages/widgets/head
    body(class="option" dir="auto")
        include /src/pages/widgets/links
        div#pages
            include /src/pages/options/widgets/general
            include /src/pages/options/widgets/services
            include /src/pages/options/widgets/about
    script(type="module" src="./index.js")
    