doctype html
html#elementToShowWithJavaScript(lang="en")
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="icon" type="image/x-icon" href="../../../assets/images/libredirect.svg")
        link(href="../stylesheets/styles.css" rel="stylesheet")
        title General

        script(type="module" src="./init.js")
    body.option(dir="auto")
        include ../widgets/links.pug
        +links('general')
        div#pages
            include ./widgets/general.pug
            include ./widgets/youtube.pug
            include ./widgets/youtubeMusic.pug
            include ./widgets/twitter.pug
            include ./widgets/instagram.pug
            include ./widgets/tiktok.pug
            include ./widgets/reddit.pug
            include ./widgets/imgur.pug
            include ./widgets/wikipedia.pug
            include ./widgets/medium.pug
            include ./widgets/quora.pug
            include ./widgets/imdb.pug
            include ./widgets/reuters.pug
            include ./widgets/peertube.pug
            include ./widgets/lbry.pug
            include ./widgets/search.pug
            include ./widgets/translate.pug
            include ./widgets/maps.pug
            include ./widgets/sendTargets.pug
            include ./widgets/about.pug

    script(type="module" src="./index.js")
