:root {
  --text-main: #FFF;
  --text-secondary: #000;
  --dark: #3C4043;
  --darker: #292A2D;
  --light: #E3E7EA;
  --lighter: #FFF;
  --active: #FF5B56;
  --space: 5px;
  --danger: #f04141;
  --danger-light: #F9D0D5;
}

body {
  color: var(--text-secondary);
  margin: 0;
  width: 400px;
  margin: auto;
  min-height: 572px;
  font-family: Sans-Serif;
  background-color: var(--darker);
}

.popup {
  width: 300px;
  min-height: auto;
  overflow: hidden;
  background-color: var(--dark);
}

input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

header {
  background-color: var(--lighter);
  color: var(--text-secondary);
  display: flex;
  padding: var(--space);
}

header .logo-container {
  width: 100%;
  margin: var(--space) 0 var(--space) 0;
  display: flex;
  align-items:center;
}

header .logo-container img {
  height: 85px;
  float: left;
}

header .logo-container h1 {
  font-size: 25px;
  float: left;
  margin-left: 15px;
  text-transform: uppercase;
  font-weight: normal;
}

header .privacy {
  letter-spacing: 0.13em;
}

header .version {
  font-size: 8.5px;
  font-weight: bold;
  position: absolute;
  top: var(--space);
  right: var(--space);
}

h1 {
  font-size: 14px;
  margin: 7px auto;
}

i {
  font-size: 12px;
}

h2 {
  clear: both;
  font-size: 12px;
  font-weight: normal;
  margin: 0;
}

h3 {
  font-size: 16px;
}

h1,
h2 {
  color: var(--text-main);
}

footer {
  width: 100%;
}

footer a.button {
  margin: var(--space);
}

/* Elements */

input[type=url], input[type=text], select {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: var(--space);
}

input[type=url] {
  padding: 1px 2px;
}

input[type=checkbox] {
  opacity: 0;
}

input[type=radio] {
  appearance: radio;
  -moz-appearance: radio;
  -webkit-appearance: radio;
}

input[type=radio]:checked+label {
  background: transparent;
}

.checkbox-label {
  margin-left: 5px;
  background: grey;
  border-radius: 25px;
  color: var(--text-main);
  cursor: pointer;
  display: block;
  float: right;
  font-weight: bold;
  height: 30px;
  position: relative;
  text-indent: -400px;
  width: 50px;
}

.checkbox-label:after {
  background: var(--text-main);
  border-radius: 90px;
  content: '';
  height: 20px;
  left: var(--space);
  position: absolute;
  top: var(--space);
  transition: 0.3s; /* Acts on transform below */
  width: 20px;
}
input:checked+label {
  background: var(--active);
}
/* position  when active*/
input:checked+label:after {
  left: calc(100% - var(--space));
  transform: translateX(-100%);
}

.settings-block {
  display: block;
  padding: 5px 10px 5px 10px;
}

.settings-block h1 {
  float: left;
}

.button {
  border: var(--active) solid 1px;
  color: var(--text-main);
  stroke: var(--text-main);
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin: var(--space) auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button * {
  vertical-align: middle;
}

.button:hover {
  background-color: var(--active);
  color: var(--text-main);
  stroke: var(--text-main);
}

.button:active {
  background-color: var(--active);
  box-shadow: 0 var(--space) var(--dark);
  transform: translateY(4px);
}

input:invalid {
  color: var(--danger);
  border-color: var(--danger);
  background-color: var(--danger-light);
}

.margin-bottom {
  margin-bottom: 20px;
}

.tab {
  overflow: hidden;
  background-color: var(--darker);
}

.tab button {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: var(--text-main);
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  border: solid 1px var(--dark);
  width: 33.333%;
  font-size: 14px;
}

.tab button:hover {
  background-color: var(--active);
}

.tab button.active {
  background-color: var(--dark);
}

.tabcontent {
  padding-top: 10px;
  display: none;
  background-color: var(--dark);
  min-height: 510px;
}

div.exceptions {
  clear: left;
}

div.exceptions > input {
  width: 240px;
  float: left;
}

#add-to-exceptions {
  float: right;
  border: var(--active) solid 1px;
  background-color: var(--active);
  color: var(--text-main);
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  padding: 1px 1px 0px 1px;
  margin-right: 5px;
}

#add-to-exceptions svg {
  height: 20px;
  width: 20px;
}

ul {
  padding: 0;
  list-style-type: none;
  color: var(--text-main);
  margin: 20px 20px 0 20px;
}

li {
  border-bottom: solid 0.5px var(--darker);
  padding: 20px 0px 20px 20px;
}

#exceptions-items button {
  float: right;
  margin-right: -5px;
  border: var(--active) solid 1px;
  background-color: var(--active);
  color: var(--text-main);
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
  padding: 2px 2px 0px 2px;
}

.button svg {
  height: 18px;
  width: 18px;
}

.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
}

.autocomplete input {
  background: url(../assets/images/chevron-down.svg) right no-repeat;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid var(--dark);
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 175px;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--darker);
  border-bottom: 1px solid var(--dark);
}

.autocomplete-items div:hover {
  background-color: var(--active);
}

.autocomplete-active {
  background-color: var(--active);
  color: var(--lighter);
}

.option {
  width: 100%;
}

.option td {
  vertical-align: middle;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--light);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: var(--active);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--light);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: var(--light);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: var(--active);
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {

  body.popup, header, h1, input, select, div.tabcontent, button.tablinks.active {
    background-color: var(--dark);
    color: var(--text-main);
  }

  body {
    background-color: var(--darker);
  }

  a.button {
    color: var(--text-main);
  }

  ::placeholder {
    color: var(--text-main);
    opacity: 0.7;
  }
}

@media (prefers-color-scheme: light) {

  body.popup, header, h1, input, select, div.tabcontent, button.tablinks.active, ul {
    background-color: var(--lighter);
    color: var(--text-secondary);
  }

  body {
    background-color: var(--light);
  }

  a.button {
    color: var(--text-secondary);
    stroke: var(--text-secondary);
  }

  button.tablinks {
    background-color: var(--light);
    color: var(--text-secondary);
  }

  ::placeholder {
    color: var(--text-secondary);
    opacity: 0.7;
  }

  .tab button {
    border-bottom: solid 1px var(--light);
  }

  button.tablinks.active {
    border-bottom: solid 1px var(--lighter);
  }

  .autocomplete-items div {
    background-color: var(--light);
  }
}
