head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/x-icon" href="../../../assets/images/libredirect.svg")
    link(href="../stylesheets/styles.css" rel="stylesheet")
    title Settings
    script(type="module" src="./init.js")