include ./icons.pug

mixin links(service)
    section#links.links
        .title
            +general
            a(href="#general" data-localise="__MSG_general__") General

        .title 
            img(src="../../../assets/images/youtube-icon.png")
            a(href="#youtube" data-localise="__MSG_youtube__") YouTube 

        .title 
            img(src="../../../assets/images/youtube-music-icon.png")
            a(href="#youtubeMusic" data-localise="__MSG_ytmusic__") YT Music

        .title 
            img(src="../../../assets/images/twitter-icon.png")
            a(href="#twitter" data-localise="__MSG_twitter__") Twitter

        .title 
            img(src="../../../assets/images/instagram-icon.png")
            a(href="#instagram" data-localise="__MSG_instagram__") Instagram

        .title 
            img(src="../../../assets/images/tiktok-icon.png")
            a(href="#tiktok" data-localise="__MSG_tiktok__") TikTok

        .title 
            img(src="../../../assets/images/reddit-icon.png")
            a(href="#reddit" data-localise="__MSG_reddit__") Reddit

        .title 
            img(src="../../../assets/images/imgur.png")
            a(href="#imgur" data-localise="__MSG_imgur__") Imgur

        .title 
            img(src="../../../assets/images/wikipedia-icon.svg")
            a(href="#wikipedia" data-localise="__MSG_wikipedia__") Wikipedia

        .title 
            +medium
            a(href="#medium" data-localise="__MSG_medium__") Medium

        .title
            img(src="../../../assets/images/quora.png")
            a(href="#quora" data-localise="__MSG_quora__") Quora

        .title
            img(src="../../../assets/images/imdb.svg")
            a(href="#imdb" data-localise="__MSG_imdb__") IMDb

        .title
            img(src="../../../assets/images/reuters.svg")
            a(href="#reuters" data-localise="__MSG_reuters__") Reuters

        .title 
            img(src="../../../assets/images/peertube-icon.svg")
            a(href="#peertube" data-localise="__MSG_peertube__") PeerTube

        .title 
            img(src="../../../assets/images/lbry-icon.png")
            a(href="#lbry" data-localise="__MSG_lbry__") LBRY

        .title 
            +search
            a(href="#search" data-localise="__MSG_search__") Search

        .title 
            +translate
            a(href="#translate" data-localise="__MSG_translate__") Translate

        .title 
            +maps
            a(href="#maps" data-localise="__MSG_maps__") Maps

        .title
            +send
            a(href="#sendTargets" data-localise="__MSG_sendFiles__") Send Files
        
        .title
            +about
            a(href="#about" data-localise="__MSG_about") About
