doctype html
html(lang="en")
    include ../../widgets/head.pug
        title Medium
script(type="module" src="../../../assets/javascripts/localise.js")
body.option(dir="auto")
    include ../../widgets/links.pug
    +links('medium')

    section.option-block
        .some-block.option-block
            h1 Medium
        hr
        .some-block.option-block
            h4(data-localise="__MSG_enable__") Enable
            input#disable-medium(type="checkbox")

        .some-block.option-block
            h4(data-localise="__MSG_protocol__") Protocol
            select#protocol
                option(value="normal" data-localise="__MSG_normal__") Normal
                option(value="tor" data-localise="__MSG_tor__") Tor

        #scribe
            hr
            .normal
                include ../../widgets/instances.pug
                +instances('https://scribe.com')
                include ../../widgets/latency.pug
                +latency()
            .tor
                include ../../widgets/instances.pug
                +instances('https://scribe.onion')

    script(type="module" src="../init.js")
    script(type="module" src="./medium.js")