name: instances-updater

on:
  schedule:
    - cron: "10 22 */3 * *"

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: get repo content
        uses: actions/checkout@v2

      - name: setup python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8" # install the python version needed

      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install requests bs4 colorama
      - name: run script
        run: python src/instances/get_instances.py

      - name: commit files
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -am "update instances" || :
      - name: push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
